/*
 * Start from lungo theme.
 */
body {
	background-color: #FFFFFF;
	color: #f4f4f4;
	font: 16px/1.25 "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -0.05em;
}
body * {
	-webkit-font-smoothing: antialiased;
}
body .text.thin {
	font-weight: 300;
}
body .text.normal {
	font-weight: 400;
}
body .text.bold {
	font-weight: 700;
}
body .theme {
	background-color: THEME-light;
}
body .theme:active {
	background-color: #00afe3;
}

body > section > header {
	background-color: #00afe3;
	-webkit-box-shadow: inset 0 -1px #b2b2b2, 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 -1px #b2b2b2, 0 1px rgba(0,0,0,0.1);
	-ms-box-shadow: inset 0 -1px #b2b2b2, 0 1px rgba(0,0,0,0.1);
	-o-box-shadow: inset 0 -1px #b2b2b2, 0 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px #b2b2b2, 0 1px rgba(0,0,0,0.1);
}
body > section ::-webkit-input-placeholder { color:#444; padding-left:-5px; }

body > aside {
	background-color: #333;
	color: #999;
	font-size: 1.4em;
}
body > aside#left-sidebar > header > nav > input {height:30px; font-size:0.7em; margin-top: 20px; background: url('../../img/search.png'); background-position:right;  background-size: 10%; background-repeat: no-repeat; padding-left:5px; border-radius:5% ! important;}
body > aside#left-sidebar > article > ul {width:90%; margin-top:20px; } 
body > aside#left-sidebar > article > ul > li { border-bottom:1px solid #000; height:50px !important;}
body > aside#left-sidebar > article > ul > li > div.tag { border:1px solid #c5a179; background:#ff4e00; border-radius:20%; color:#000; height:20px; width:20px; text-align:center; margin-top:5px;}

body > aside#right-sidebar > header {font-size:0.7em; height:100px; padding-top:50px;}
body > aside#right-sidebar > article > div.form {width:80%; margin-top:20px; margin-left:20px;} 
body > aside#right-sidebar > article > div.form > button { background:#eee; margin:10px; width:40%; height:40px; float:left; font-size:0.7em;}

body > aside#events_right-sidebar > header {font-size:0.7em; height:100px; padding-top:50px;}
body > aside#events_right-sidebar > article > div.form {width:80%; margin-top:20px; margin-left:20px;} 
body > aside#events_right-sidebar > article > div.form > button { background:#eee; margin:10px; width:40%; height:40px; float:left; font-size:0.7em;}

body > aside > footer {height:150px;}
body > aside > footer >  div { font-size:1em;color:#999; margin-left:20px; clear:both; height:30px;}
body > aside > footer > nav > ul { list-style-type: none; width:90%; margin-bottom:20px; float:left; margin-top:-40px;margin-left:10px;}
body > aside > footer > nav > ul > li > img {width:40%;height:30px; margin:10px; float:left; }

section .list li {
  background: #fff;
  font-weight: 300;
}
section .list li:not(.anchor) {
  border-bottom: inset 1px #cfcfcf;
}
section .list li.color {
  -webkit-box-shadow: inset 4px 0 #f4f4f4;
  -moz-box-shadow: inset 4px 0 #f4f4f4;
  -ms-box-shadow: inset 4px 0 #f4f4f4;
  -o-box-shadow: inset 4px 0 #f4f4f4;
  box-shadow: inset 4px 0 #f4f4f4;
}


.left_menu_search {margin-top: 10px; width:100%; height:50px;  background-color: #EEE ! important;  border-radius:20%; border:1px solid #666;}
#map { 
	width: 100%;
	height:10em;
	/* position:absolute; top:45px; bottom:0; width:100%; */
}

.leaflet-marker-pane img {
	background: url('../../img/pin-blue-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

body > aside > header > nav > img { height:19px; }
body > aside > header > nav.on-left { margin-left: .7em; }
body > aside > header > nav.on-right { margin-right: .7em; }
body > section > header {  background-color:#333;}
body > section > header > nav.on-left { margin-left: 12px; }
body > section > header > nav.on-right { margin-right: 12px; }
body > section > header > nav > img { height: 22px; }

body > section > footer { background-color: #333; }
body > section > footer {
	-webkit-box-shadow: 0 -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 -1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 -1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 -1px rgba(0,0,0,0.1);
	box-shadow: 0 -1px rgba(0,0,0,0.1);
}
footer nav a { color:#a1a1a1;font-size:.8em; }
footer nav a .active  { color: #669bcf; }
footer nav a.left  { display:block;padding:0 0 0 .7em;height:46px;text-align:left; }
footer nav a.right { display:block;padding:0 .7em 0 0;height:46px;text-align:right; }

body > section > article { background-image:url('../../img/bg2.png'); background-repeat:no-repeat; background-size:100%}

body > section > article > div.splash { text-align:center; margin-top:20px; }
body > section > article > div > img.splash.logo { margin-left:-20px; width:40%; }
body > section#main > article > div > .login-form {width:100%; text-align:center;  }
body > section#main > article > div > div > input[type="text"] { width:85%; border:1px solid #999; height:30px; margin:3px; border-radius:5%;}
body > section#main > article > div > div > label { width:85%; border:1px solid #999; height:32px; color:#EEE; margin:3px; }

body > section#main > article > div > div > select { height:30px;}
body > section#main > article > div > div > select > option[default] { color:#EEE}
body > section > article > div > div.splash.line {text-align:center; width:100%; border-bottom:1px solid #EEE;}
body > section > article > div > div.splash.subtitle { margin-top:10px; text-align:center; font-size:1.2em;color:#c84624; }
body > section > article > div > div.splash.subtext { margin-top:10px; text-align:center;font-size:12px;color:#000; height: 100%; top:0px; left:0;}
body > section > article > div > a > img.splash.connect { margin-top:10px; width:85%; }
body > section > article > div > a > img.splash.connect:active { margin-top:10px; width:86%; }

body > section#gender > article > div.gender-title { height:18%; text-align:center; background:#fff;}
body > section#gender > article > div.gender-title > div.gender-title-text { font-size:1.5em;color:#ff4e00; padding-top:45px; font-weight:bold;}
body > section#gender > article > div.male-rect { height:33%; text-align:center; background: rgba(70, 177, 236, 0.6); border-top:2px solid #333;}
body > section#gender > article > div.male-rect > div.male_image {height: 70%;margin:20px;background:#327aaf;}
body > section#gender > article > div.male-rect > div.male_image > img.male_original_image {position: absolute;border-radius:50%;height: 25%;padding:5px; background:#327aaf; } 
body > section#gender > article > div.male-rect > div.male_image > img.male_red_check_image {position: absolute; height: 25%;padding:5px;margin:8px;} 
body > section#gender > article > div.female-rect { height:33%; text-align:center; background: rgba(242, 112, 223, 0.6); border-top:2px solid #333;}
body > section#gender > article > div.female-rect > div.female_image {height: 70%;margin:20px;background:#327aaf;}
body > section#gender > article > div.female-rect > div.female_image > img.female_original_image {position: absolute;border-radius:50%;height: 25%;padding:5px; background:#327aaf; } 
body > section#gender > article > div.female-rect > div.female_image > img.female_red_check_image {position: absolute; height: 25%;padding:5px;margin:8px;} 
body > section#gender > article > div > div.male-text { font-size:1.5em;color:#fff; font-weight:bold; margin-right:60px; margin-top:70px;}
body > section#gender > article > div > div.female-text { font-size:1.5em;color:#fff; font-weight:bold; margin-left:50px; margin-top:70px;}

body > section#skin_section > article > div.skin_face { position: relative; height:25%; width:100%; background-image:url('../../img/skincolor/skin_face_background.png'); background-repeat:no-repeat; background-size:100%; text-align:center;}
body > section#skin_section > article > div.skin_face > img.skin_face_image { position: absolute; border-radius:50%; height: 85%; top:0px; left:30%; padding:5px; background:#d24d93; margin:10px; }
body > section#skin_section > article > div.skin_color_text_rect { height:18%; text-align:center;}
body > section#skin_section > article > div.skin_color_text_rect > div.skin_color_text { font-size:1.5em;color:#ff4e00; padding-top:35px; font-weight:bold;}
body > section#skin_section > article > div.skin_colors > ul { list-style-type: none; padding:0px; margin:0px; }
body > section#skin_section > article > div.skin_colors > ul > li {height:75px; padding:0px; margin:0px; border-top:1px solid #000; border-bottom:1px solid #000;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_1 { background-image:url('../../img/skincolor/skin_color1.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_2 { background-image:url('../../img/skincolor/skin_color4.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_3 { background-image:url('../../img/skincolor/skin_color2.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_4 { background-image:url('../../img/skincolor/skin_color5.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_5 { background-image:url('../../img/skincolor/skin_color3.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div.skin_color_6 { background-image:url('../../img/skincolor/skin_color6.png'); background-repeat:no-repeat; background-size:100%; width:50%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#skin_section > article > div.skin_colors > ul > li > div > img { height:30px; margin-top:20px; margin-left:-40px; display:none;}

body > section#acne_section > article > div.acne_face { height:25%; width:100%; background-image:url('../../img/skincolor/skin_face_background.png'); background-repeat:no-repeat; background-size:100%; text-align:center;}
body > section#acne_section > article > div.acne_face > div.image_combo > img.acne_face_image {position: absolute;border-radius:50%; height: 85%;padding:5px; background:#d24d93; margin:8px;left:30% ! important;} 
body > section#acne_section > article > div.acne_face > div.image_combo > img.acne_mask_image {position: absolute; height: 85%;padding:5px;margin:8px; left:30% ! important;} 
body > section#acne_section > article > div.acne_text_rect { height:18%; text-align:center;}
body > section#acne_section > article > div.acne_text_rect > div.acne_text { font-size:1.5em;color:#ff4e00; padding-top:35px; font-weight:bold;}
body > section#acne_section > article > div.acne_list > ul { list-style-type: none; padding:0px; margin:0px; }
body > section#acne_section > article > div.acne_list > ul > li {height:75px; padding:0px; margin:0px; border-top:1px solid #000; border-bottom:1px solid #000;}
body > section#acne_section > article > div.acne_list > ul > li > div.acne_none { background-image:url('../../img/acne_bg_inactive.png'); background-repeat:no-repeat; background-size:100%; width:100%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#acne_section > article > div.acne_list > ul > li > div.acne_few { background-image:url('../../img/acne_bg_inactive.png'); background-repeat:no-repeat; background-size:100%; width:100%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#acne_section > article > div.acne_list > ul > li > div.acne_many { background-image:url('../../img/acne_bg_inactive.png'); background-repeat:no-repeat; background-size:100%; width:100%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#acne_section > article > div.acne_list > ul > li > div > img { height:30px; margin-top:20px; margin-right:80px; display:none; }
body > section#acne_section > article > div.acne_list > ul > li > div > div {font-size:1.5em;color:#000; padding-top:20px; font-weight:bold; margin-left:35px;} 

body > section#freckle_section > article > div.freckle_face { height:25%; width:100%; background-image:url('../../img/skincolor/skin_face_background.png'); background-repeat:no-repeat; background-size:100%; text-align:center;}
body > section#freckle_section > article > div.freckle_face > div > img.freckle_face_image {position: absolute;border-radius:50%; height: 85%;padding:5px; background:#d24d93; margin:8px;left:30% ! important;}
body > section#freckle_section > article > div.freckle_face > div > img.acne_mask_image { position: absolute; height: 85%;padding:5px;margin:8px; left:30% ! important; }
body > section#freckle_section > article > div.freckle_face > div > img.freckle_mask_image { position: absolute; height: 85%;padding:5px;margin:8px; left:30% ! important; }
body > section#freckle_section > article > div.freckle_text_rect { height:18%; text-align:center;}
body > section#freckle_section > article > div.freckle_text_rect > div.freckle_text { font-size:1.5em;color:#ff4e00; padding-top:35px; font-weight:bold;}
body > section#freckle_section > article > div.freckle_list > ul { list-style-type: none; padding:0px; margin:0px; }
body > section#freckle_section > article > div.freckle_list > ul > li {height:75px; padding:0px; margin:0px; border-top:1px solid #000; border-bottom:1px solid #000;}
body > section#freckle_section > article > div.freckle_list > ul > li > div.freckle_none { background-image:url('../../img/acne_bg_inactive.png'); background-repeat:no-repeat; background-size:100%; width:100%; height:75px; padding:0px; margin:0px; text-align:center;}
body > section#freckle_section > article > div.freckle_list > ul > li > div.freckle_yes { background-image:url('../../img/acne_bg_inactive.png'); background-repeat:no-repeat; background-size:100%; width:100%; height:75px; padding:0px; margin:0px; text-align:center; border-bottom:1px solid #000;}
body > section#freckle_section > article > div.freckle_list > ul > li > div > img { height:30px; margin-top:20px; margin-right:80px; display:none; }
body > section#freckle_section > article > div.freckle_list > ul > li > div > div {font-size:1.5em;color:#000; padding-top:20px; font-weight:bold; margin-left:35px;} 

body > section#results_section > article > div.freckle_face { height:25%; width:100%; background-image:url('../../img/skincolor/skin_face_background.png'); background-repeat:no-repeat; background-size:100%; text-align:center;}
body > section#results_section > article > div.freckle_face > div > img.freckle_face_image {position: absolute;border-radius:50%; height: 85%;padding:5px; background:#d24d93; margin:8px;left:30% ! important;}
body > section#results_section > article > div.freckle_face > div > img.acne_mask_image { position: absolute; height: 85%;padding:5px;margin:8px; left:30% ! important; }
body > section#results_section > article > div.freckle_face > div > img.freckle_mask_image { position: absolute; height: 85%;padding:5px;margin:8px; left:30% ! important; }
body > section#results_section > article > div.results_text_rect { height:18%; text-align:center;}
body > section#results_section > article > div.results_text_rect > div.results_text { font-size:1.5em;color:#ff4e00; padding-top:35px; font-weight:bold;}
body > section#results_section > article > div.results_list > ul { list-style-type: none; padding:0px; margin:0px; height:220px;}
body > section#results_section > article > div.results_list > ul > li {height:85px; padding:0px; margin:0px; border-top:1px solid #000; border-bottom:1px solid #000;}
body > section#results_section > article > div.results_list > ul > li > img { margin:10px; }
body > section#results_section > article > div.results_list > ul > li > div {color:#000; height:80px; overflow:hidden; white-space:normal; text-overflow:ellipsis; width:100px; } 

body > section#products_list_section > article > div.products_list_rect { height:50px; text-align:center;background-image:url('../../img/product_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#products_list_section > article > div.products_list_rect > div.products_list_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}
body > section#products_list_section > article > div.products_search_rect { height:40px; text-align:center; border-bottom:1px solid #000;}
body > section#products_list_section > article > div.products_search_rect > div > fieldset{ height:40px; text-align:center; border-bottom:1px solid #000;}
body > section#products_list_section > article > div.products_list > ul { list-style-type: none; padding:0px; margin:0px; height:370px;}
body > section#products_list_section > article > div.products_list > ul > div.product_item {width:50%; float:left; background:#fff;}
body > section#products_list_section > article > div.products_list > ul > div.product_item:active {background-image:url('../../img/selected_product.png'); background-repeat:no-repeat; background-size:100%; }
body > section#products_list_section > article > div.products_list > ul > div.product_item > img.p_new_mask {width:20px; height:20px; float:left;}
body > section#products_list_section > article > div.products_list > ul > div.product_item > div.p_new_mask {width:20px; height:20px; float:left;}
body > section#products_list_section > article > div.products_list > ul > div.product_item > img.p_product_image {width:50%; height:100px; float:left; padding-left:30px;}
body > section#products_list_section > article > div.products_list > ul > div.product_item > div.product_detail_title {overflow:hidden;text-overflow:ellipsis;width:90%; font-size:1em;color:#000; margin-left:10px; white-space:nowrap;}
body > section#products_list_section > article > div.products_list > ul > div.product_item > div.product_detail_text {overflow:hidden;text-overflow:ellipsis;width:90%; font-size:0.8em;color:#000;  margin-left:10px; white-space:nowrap;}

body > section#products_detail_section > article > div.products_detail_rect { height:50px; text-align:center;background-image:url('../../img/product_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#products_detail_section > article > div.products_detail_rect > div.products_detail_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}
body > section#products_detail_section > article > div.products_detail > img.product_image { width:100px; height:130px; float:left; padding-left:30px; padding-top:10px;}
body > section#products_detail_section > article > div.products_detail > div.product_detail_title {font-size:1.2em;color:#000; padding-left:120px; padding-top:50px;}
body > section#products_detail_section > article > div.products_detail > div.product_detail_text { font-size:1em;color:#000;  margin-left:10px; float:left; width:90%; }

body > section#article_list_section > article > div.article_list_rect { height:50px; text-align:center;background-image:url('../../img/article_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#article_list_section > article > div.article_list_rect > div.article_list_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}
body > section#article_list_section > article > div.article_search_rect { height:40px; text-align:center; border-bottom:1px solid #000;}
body > section#article_list_section > article > div.article_search_rect > div > fieldset{ height:40px; text-align:center; border-bottom:1px solid #000;}
body > section#article_list_section > article > div.article_list > ul { list-style-type: none; padding:0px; margin:0px; height:370px;}
body > section#article_list_section > article > div.article_list > ul > li {height:80px; padding:0px; margin:0px;}
body > section#article_list_section > article > div.article_list > ul > li:active {background-image:url('../../img/article_title_bg.png');}
body > section#article_list_section > article > div.article_list > ul > li > img.p_new_mask {width:20px; height:20px; float:left;}
body > section#article_list_section > article > div.article_list > ul > li > div.p_new_mask {width:20px; height:20px; float:left;}
body > section#article_list_section > article > div.article_list > ul > li > img.p_article_image {width:70px; height:70px; float:left; padding-left:-10px; padding-top:10px;}
body > section#article_list_section > article > div.article_list > ul > li > div {float:right; width:65%;}
body > section#article_list_section > article > div.article_list > ul > li > div > div.article_title_text {overflow:hidden;text-overflow:ellipsis;width:90%; font-size:1.2em;font-weight:bold;color:#000; margin-top:3px; white-space:nowrap;}
body > section#article_list_section > article > div.article_list > ul > li > div > div.article_detail_text {height:50px; font-size:0.8em;color:#000; overflow:hidden;text-overflow:ellipsis;width:90%;}

body > section#article_detail_section > article > div.article_detail_rect { height:50px; text-align:center;background-image:url('../../img/article_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#article_detail_section > article > div.article_detail_rect > div.article_detail_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}
body > section#article_detail_section > article > div.article_detail > img.article_image { width:100px; height:80px; float:left; padding-left:30px; padding-top:10px;}
body > section#article_detail_section > article > div.article_detail > div.article_detail_title {font-size:1.2em;color:#000; padding-left:120px; padding-top:20px;}
body > section#article_detail_section > article > div.article_detail > div.article_detail_text { font-size:1em;color:#000;  margin-left:10px; float:left; width:90%; }

body > section#doctors_list_section > article > div.doctors_list_rect { height:50px; text-align:center;background-image:url('../../img/doctor_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#doctors_list_section > article > div.doctors_list_rect > div.doctors_list_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}

body > section#events_list_section > article > div.events_list_rect { height:50px; text-align:center;background-image:url('../../img/events_title_bg.png'); background-repeat:no-repeat; background-size:100%; }
body > section#events_list_section > article > div.events_list_rect > div.events_list_text { padding-top:10px; font-size:1.5em;color:#fff; font-weight:bold;}

.map_message {text-align:left; padding:10px;}
.map_message .map_message_title {float:left; width:100%; text-align:left; float:left;}
.map_message input {width:45%; margin-left:2%; margin-top:10px;}

.console {
    background: #292f34;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}
