section > footer > nav > a,
nav[data-control=groupbar] > a {
  color: #595959;
  -webkit-transition-property: color, box-shadow;
  -moz-transition-property: color, box-shadow;
  -ms-transition-property: color, box-shadow;
  -o-transition-property: color, box-shadow;
  transition-property: color, box-shadow;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
section > footer > nav > a abbr,
nav[data-control=groupbar] > a abbr {
  font-weight: 400;
}
section > footer > nav > a.active,
nav[data-control=groupbar] > a.active,
section > footer > nav > a:active,
nav[data-control=groupbar] > a:active {
  color: #669bcf;
}
nav[data-control=groupbar] > a.active,
nav[data-control=groupbar] > a:active {
  -webkit-box-shadow: inset 0 -0.3em #00afe3;
  -moz-box-shadow: inset 0 -0.3em #00afe3;
  -ms-box-shadow: inset 0 -0.3em #00afe3;
  -o-box-shadow: inset 0 -0.3em #00afe3;
  box-shadow: inset 0 -0.3em #00afe3;
}
section > footer > nav > a.active,
section > footer > nav > a:active {
  -webkit-box-shadow: inset 0 0.3em #00afe3;
  -moz-box-shadow: inset 0 0.3em #00afe3;
  -ms-box-shadow: inset 0 0.3em #00afe3;
  -o-box-shadow: inset 0 0.3em #00afe3;
  box-shadow: inset 0 0.3em #00afe3;
}


/*
 * Start forms from lungo theme.
 */
 form label,
.form label {
	color: #6d6d6d;
	font-weight: 300;
}
form fieldset,
.form fieldset {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
form fieldset .icon,
.form fieldset .icon {
	color: #ccc;
}
form fieldset.radius-top,
.form fieldset.radius-top {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
form fieldset.radius-bottom,
.form fieldset.radius-bottom {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-ms-border-radius: 0 0 2px 2px;
	-o-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}
form fieldset.radius,
.form fieldset.radius {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
form fieldset.shadow,
.form fieldset.shadow {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
form input[type="text"],
.form input[type="text"],
form input[type="password"],
.form input[type="password"],
form input[type="date"],
.form input[type="date"],
form input[type="datetime"],
.form input[type="datetime"],
form input[type="email"],
.form input[type="email"],
form input[type="number"],
.form input[type="number"],
form input[type="search"],
.form input[type="search"],
form input[type="tel"],
.form input[type="tel"],
form input[type="time"],
.form input[type="time"],
form input[type="url"],
.form input[type="url"],
form select,
.form select,
form textarea,
.form textarea,
form label.select,
.form label.select {
	background-color: #fff;
	color: rgba(0,0,0,0.75);
}
form input[type="text"].border,
.form input[type="text"].border,
form input[type="password"].border,
.form input[type="password"].border,
form input[type="date"].border,
.form input[type="date"].border,
form input[type="datetime"].border,
.form input[type="datetime"].border,
form input[type="email"].border,
.form input[type="email"].border,
form input[type="number"].border,
.form input[type="number"].border,
form input[type="search"].border,
.form input[type="search"].border,
form input[type="tel"].border,
.form input[type="tel"].border,
form input[type="time"].border,
.form input[type="time"].border,
form input[type="url"].border,
.form input[type="url"].border,
form select.border,
.form select.border,
form textarea.border,
.form textarea.border,
form label.select.border,
.form label.select.border {
	border: 2px solid #dadada;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-ms-border-radius: 0.2em;
	-o-border-radius: 0.2em;
	border-radius: 0.2em;
}
form input[type="text"].error,
.form input[type="text"].error,
form input[type="password"].error,
.form input[type="password"].error,
form input[type="date"].error,
.form input[type="date"].error,
form input[type="datetime"].error,
.form input[type="datetime"].error,
form input[type="email"].error,
.form input[type="email"].error,
form input[type="number"].error,
.form input[type="number"].error,
form input[type="search"].error,
.form input[type="search"].error,
form input[type="tel"].error,
.form input[type="tel"].error,
form input[type="time"].error,
.form input[type="time"].error,
form input[type="url"].error,
.form input[type="url"].error,
form select.error,
.form select.error,
form textarea.error,
.form textarea.error,
form label.select.error,
.form label.select.error,
form input[type="text"]:required,
.form input[type="text"]:required,
form input[type="password"]:required,
.form input[type="password"]:required,
form input[type="date"]:required,
.form input[type="date"]:required,
form input[type="datetime"]:required,
.form input[type="datetime"]:required,
form input[type="email"]:required,
.form input[type="email"]:required,
form input[type="number"]:required,
.form input[type="number"]:required,
form input[type="search"]:required,
.form input[type="search"]:required,
form input[type="tel"]:required,
.form input[type="tel"]:required,
form input[type="time"]:required,
.form input[type="time"]:required,
form input[type="url"]:required,
.form input[type="url"]:required,
form select:required,
.form select:required,
form textarea:required,
.form textarea:required,
form label.select:required,
.form label.select:required {
	color: #e74c3c !important;
	border-color: #e74c3c !important;
}
form input[type="text"].success,
.form input[type="text"].success,
form input[type="password"].success,
.form input[type="password"].success,
form input[type="date"].success,
.form input[type="date"].success,
form input[type="datetime"].success,
.form input[type="datetime"].success,
form input[type="email"].success,
.form input[type="email"].success,
form input[type="number"].success,
.form input[type="number"].success,
form input[type="search"].success,
.form input[type="search"].success,
form input[type="tel"].success,
.form input[type="tel"].success,
form input[type="time"].success,
.form input[type="time"].success,
form input[type="url"].success,
.form input[type="url"].success,
form select.success,
.form select.success,
form textarea.success,
.form textarea.success,
form label.select.success,
.form label.select.success {
	color: #2ecc71 !important;
	border-color: #2ecc71 !important;
}
form input[type="text"]:focus,
.form input[type="text"]:focus,
form input[type="password"]:focus,
.form input[type="password"]:focus,
form input[type="date"]:focus,
.form input[type="date"]:focus,
form input[type="datetime"]:focus,
.form input[type="datetime"]:focus,
form input[type="email"]:focus,
.form input[type="email"]:focus,
form input[type="number"]:focus,
.form input[type="number"]:focus,
form input[type="search"]:focus,
.form input[type="search"]:focus,
form input[type="tel"]:focus,
.form input[type="tel"]:focus,
form input[type="time"]:focus,
.form input[type="time"]:focus,
form input[type="url"]:focus,
.form input[type="url"]:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus,
form label.select:focus,
.form label.select:focus,
form input[type="text"]:active,
.form input[type="text"]:active,
form input[type="password"]:active,
.form input[type="password"]:active,
form input[type="date"]:active,
.form input[type="date"]:active,
form input[type="datetime"]:active,
.form input[type="datetime"]:active,
form input[type="email"]:active,
.form input[type="email"]:active,
form input[type="number"]:active,
.form input[type="number"]:active,
form input[type="search"]:active,
.form input[type="search"]:active,
form input[type="tel"]:active,
.form input[type="tel"]:active,
form input[type="time"]:active,
.form input[type="time"]:active,
form input[type="url"]:active,
.form input[type="url"]:active,
form select:active,
.form select:active,
form textarea:active,
.form textarea:active,
form label.select:active,
.form label.select:active,
form input[type="text"]:hover,
.form input[type="text"]:hover,
form input[type="password"]:hover,
.form input[type="password"]:hover,
form input[type="date"]:hover,
.form input[type="date"]:hover,
form input[type="datetime"]:hover,
.form input[type="datetime"]:hover,
form input[type="email"]:hover,
.form input[type="email"]:hover,
form input[type="number"]:hover,
.form input[type="number"]:hover,
form input[type="search"]:hover,
.form input[type="search"]:hover,
form input[type="tel"]:hover,
.form input[type="tel"]:hover,
form input[type="time"]:hover,
.form input[type="time"]:hover,
form input[type="url"]:hover,
.form input[type="url"]:hover,
form select:hover,
.form select:hover,
form textarea:hover,
.form textarea:hover,
form label.select:hover,
.form label.select:hover {
	color: #676767;
	border-color: #676767;
}
form input[type="text"][disabled],
.form input[type="text"][disabled],
form input[type="password"][disabled],
.form input[type="password"][disabled],
form input[type="date"][disabled],
.form input[type="date"][disabled],
form input[type="datetime"][disabled],
.form input[type="datetime"][disabled],
form input[type="email"][disabled],
.form input[type="email"][disabled],
form input[type="number"][disabled],
.form input[type="number"][disabled],
form input[type="search"][disabled],
.form input[type="search"][disabled],
form input[type="tel"][disabled],
.form input[type="tel"][disabled],
form input[type="time"][disabled],
.form input[type="time"][disabled],
form input[type="url"][disabled],
.form input[type="url"][disabled],
form select[disabled],
.form select[disabled],
form textarea[disabled],
.form textarea[disabled],
form label.select[disabled],
.form label.select[disabled] {
	background: #dadada;
	border-color: #dadada;
	color: #a3a3a3;
}
form select:after,
.form select:after,
form label.select:after,
.form label.select:after {
	color: #dadada;
}
form select:focus:after,
.form select:focus:after,
form label.select:focus:after,
.form label.select:focus:after,
form select:active:after,
.form select:active:after,
form label.select:active:after,
.form label.select:active:after,
form select:hover:after,
.form select:hover:after,
form label.select:hover:after,
.form label.select:hover:after {
	color: #676767;
}
form input[type=range],
.form input[type=range] {
	background-color: #dadada;
	color: #a3a3a3;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}
form input[type=range]:active,
.form input[type=range]:active {
	background-color: #676767 !important;
	color: #fff;
}
form input[type=range]::-webkit-slider-thumb,
.form input[type=range]::-webkit-slider-thumb {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	background-color: #fafafa;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,0.15);
	box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}
form [data-progress],
.form [data-progress] {
	background-color: #ddd;
}
form [data-progress] .value,
.form [data-progress] .value {
	background-color: #676767;
}
form [data-progress],
.form [data-progress],
form [data-progress] .value,
.form [data-progress] .value {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}
form input[type=checkbox],
.form input[type=checkbox] {
	background-color: #fafafa;
	border: 1px solid #dadada;
	-webkit-box-shadow: inset 0 0 0 1px #dadada;
	-moz-box-shadow: inset 0 0 0 1px #dadada;
	-ms-box-shadow: inset 0 0 0 1px #dadada;
	-o-box-shadow: inset 0 0 0 1px #dadada;
	box-shadow: inset 0 0 0 1px #dadada;
}
form input[type=checkbox]:after,
.form input[type=checkbox]:after {
	background-color: #fff;
	border: 1px solid #dadada;
}
form input[type=checkbox]:checked,
.form input[type=checkbox]:checked {
	border-color: #2ecc71;
	-webkit-box-shadow: inset 0 0 0 13px #2ecc71;
	-moz-box-shadow: inset 0 0 0 13px #2ecc71;
	-ms-box-shadow: inset 0 0 0 13px #2ecc71;
	-o-box-shadow: inset 0 0 0 13px #2ecc71;
	box-shadow: inset 0 0 0 13px #2ecc71;
}
form input[type=checkbox]:checked:after,
.form input[type=checkbox]:checked:after {
	border-color: #2ecc71;
}

/*
 * End forms from lungo theme
 */


/*
 * Notifications from lungo theme
 */
.notification {
  color: #fff;
}
.notification:not(.push) {
  background-color: rgba(0,0,0,0.5);
}
.notification .window {
  -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}
.notification .window.growl {
  background-color: rgba(0,0,0,0.8);
}
.notification .window.growl strong {
  color: #bfbfbf;
  font-weight: 700;
}
.notification .window.confirm button,
.notification .window.html button {
  background-color: #fff;
  color: #3d3d3d;
  font-weight: 400;
}
.notification .window.confirm button[data-callback=cancel],
.notification .window.html button[data-callback=cancel],
.notification .window.confirm button[data-action=close],
.notification .window.html button[data-action=close] {
  color: #e74c3c;
}
.notification .window.html,
.notification .window.confirm {
  background-color: #f4f4f4;
  color: #000;
}
.notification .window.confirm > small,
.notification .window.confirm > .icon {
  color: #808080;
}
.notification .window.confirm > button:nth-child(1) {
  color: #e74c3c !important;
}
.notification .window.error,
.notification .window.success {
  background-color: rgba(0,0,0,0.8);
  border-bottom: solid 0.4em;
  color: #fff;
}
.notification .window.error small,
.notification .window.success small {
  color: #bfbfbf;
}
.notification .window.error {
  border-bottom-color: #e74c3c;
}
.notification .window.error > .icon {
  color: #e74c3c;
}
.notification .window.success {
  border-bottom-color: #2ecc71;
}
.notification .window.success > .icon {
  color: #2ecc71;
}
.notification .window.html .title {
  background-color: #00afe3;
  color: #fff;
}
.notification .window.push {
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 -0.1em #000;
  -moz-box-shadow: inset 0 -0.1em #000;
  -ms-box-shadow: inset 0 -0.1em #000;
  -o-box-shadow: inset 0 -0.1em #000;
  box-shadow: inset 0 -0.1em #000;
}
.notification .window small {
  font-weight: 300;
}
/*
 * End notifications from lungo theme
 */
